@model List<ManageUsersRoleModel>
@{
    ViewData["Title"] = "Manage User Role - Admin";

    var userId = ViewBag.userId;
}

<div class="container">
<br />
    <div class="row">
        <div class="col-6 offset-3">
            <form method="post" novalidate>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="card">
                    <div class="card-header">
                        <h3>Manage User Role</h3>
                    </div>
                    <div class="card-body">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <div class="form-check m=1">
                                <input type="hidden" asp-for="@Model[i].RoleId">
                                <input type="hidden" asp-for="@Model[i].RoleName">
                                <input asp-for="@Model[i].IsSelected" class="form-check-input">
                                <label class="form-check-label" asp-for="@Model[i].IsSelected">
                                    @Model[i].RoleName
                                </label>
                            </div>
                        }
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Update User" class="btn btn-primary" />
                        <a asp-action="EditUsers" asp-controller="Role" asp-route-id="@userId" class="btn btn-outline-secondary offset-2">
                            Go back
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

